
  .header {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 12px;
    background: black;
    color: #d3d3d3;
    text-align: center;
  }

  h1 {
    font-size: 6vw;
  }

  h2 {
    font-size: 1.5vw;
  }
  
  .backgroundImage {
    display: block;
    margin-left: 10%;
    margin-top: 200px;
    width: 80%;
    position: fixed;
  }

  .background { 
    background-color: #080808;
    height: 4400px;
  }
  
  .home {
    font-size: 16px;
    position: relative;
    float: center;
    top: 1000px;
    margin-left: 20%;
    margin-right: 20%;
    background: rgba(255, 255, 255, 0.65);
    color: black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 20px white;
    min-width: 50%;
  }
  
  .filmImage {
    border-radius: 10%;
    width: 150px;
    height: 200px;
    box-shadow: 0 6px 50px white;
  }
  
  .rightImages {
    float: right;
    position: relative;
    display: block;
    top: 1000px;
    margin-right: 5%;
    max-width: 10%;
    height: auto;
  }
  
  .leftImages {
    float: left;
    position: relative;
    top: 1000px;
    margin-left: 5%;
    max-width: 10%;
    height: auto;
  }
  